<a href="https://colab.research.google.com/github/PiyushAgarwal14/Python_Lab/blob/main/first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello to all')
Name = "Ajay"
Age = 21
print(Name)
print(Age)

In [ ]:

 val = input ("Enter a number ")
 print (val)

In [ ]:
#addition
a = 5
b = 4
print(a+b)

In [ ]:
# greater than or less then
a= 5
b= 4
print(a>b)
print(a<b)

In [ ]:
# greater than equal to
x =3
y = 3
print(x>=y)

True

In [ ]:
#less than equal to
z=1
k=2
print (z<=k)

In [ ]:
# take input and stored it
age = int (input("Enter your age"))
print (age)

# print the stored value
print ("the age of ajay is", age)

# if else operation 
if age > 18:
  print("you are eligible for driving")
elif age < 18:
  print("you are not eligible for driving")

In [ ]:
# for loop 
car = ["suzuki", "tata", "bmw"]
for d in car:
  print(d)

# print length 
print(len(car))

In [ ]:
# print datatype of age
age = 21
print(type(age))

In [ ]:
# print all datatypes int, float, string, tuple
h = 2.4
print(type(h))

p = "piyush"
print(type(p))

In [ ]:
# print list
list = ["apple", "mango"]
print(list)

# print length of list
print(len(list))

In [ ]:
#print tuple
tuple = ("kite", 4, "thread", 1)
print(type(tuple))
print(len(tuple))
print(tuple)

bike= ("suzuki")
print(type(bike))

In [ ]:
tuple1 = (1,2,3)
print(type(tuple1))

In [ ]:
#dictionary (structure in c)
capital = {
    "city": "jaipur",
    "vehiclecode": "rj45"
}
print(capital)
print(capital["city"])

In [ ]:
# Duplicate values will overwrite existing values:
state = {
    "statename": "Rajasthan",
    "RTO": "rj14",
    "RTO": "rj45"
}
print(state)